
    a{
        position: absolute;
        right: 20px;
        top: 30px;
        color: black;
        text-underline-position: under;
        font-family: 'Inter';
        font-size: 24px ;
    } 
    button{
        text-decoration-color: gray;
        color: gray;
    }
    h3{
        color: gray;
    }
    div{
        position: absolute;
        background-color: white;
        outline: 2px solid black;
        border-radius: 25px;
        width: 700px;
        height: 350px;
        position: absolute;
        left: 0 auto;
        top: 0 auto;
        z-index: 1;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Inter';
    }

    form {
        width: 448px;
        height: 539px;
        background-color: transparent;
        border: 3px solid gray;
        border-radius: 25px;
        padding: 10px;
    }

    .field {
        font-size: 15px;
        width: 370px;
        height: 50px;
        background-color: transparent;
        border: 2px solid gray;
        padding-left: 10px;
        border-radius: 10px;
        margin: 5px 0px;
    }

    #login-confirm-button {
        font-size: 15px;
        background-color: transparent;
        border: 2px solid gray;
        border-radius: 10px;
        margin: 5px 0px;

    }

    @font-face {
        font-family: Inter;
        src: url('Inter-Regular.ttf');
    }